nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    font-family: 'Marcellus', serif;
    font-size: 1.55em;
    padding: 0.5em;
}.item button{
    color: white;
    font-size: 0.9em;
    background-color: #337AB7;
    border: none;
    padding: 0.5rem;
    border-radius: 5%;
}nav a{
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
    transition: .5s all ease;
    
}nav a:hover{
    background-color:#0B3860;
    width: 100%;
}.logo{
    margin-top: 0.2%;
    width: 250px;
}

.logo img{
    margin: 2%;
    height: 3.6rem;  
    width: 100%;   
}.logo i{
    display: none;
}